header h1{
  text-align: center;
  padding:0 ;
  font-size:3vw;
  color:#ffff
}
header{
  /* background-color: linear-gradient( to down, black, blue); */
  background-color: rgb(1, 0, 82);
}
body{
    justify-content: center;
    align-items: center;
    height: 250vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
  }
  
  .nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  
  
  
  /* Media queries */
  @media screen and (min-width: 768px) {
    body {
      margin: 0;
    }
    .nav {
      height: 4rem;
      margin-right: 1rem;
    }
    .nav_list {
      display: flex;
      justify-content: center;
    }
    .nav_item {
      margin-left: 1rem;
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .nav_menu {
      position: relative;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 10px;
    }
    }
    .nav_item {
      padding-right: 1rem;
      font-size: 1.1rem;
    }
  
  .mainbox {
    background: rgba(0, 0, 0, 0.685);
    color: white;
    padding: 26px;
    border-radius: 15px;
    max-width: 100vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    
  }
 
  
  .mainbox:hover{
  box-shadow: 10px 10px 10px rgba(63, 63, 63, 0.712);
  border-radius: 20px;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  button{
    margin: 8px;
    border-radius:50%;
    border: none;
    height: 34px;
    width: 34px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  button:hover{
    background: #7c7c7c6b; 
  }
  
  .Text{
    border: none;
    outline: none;
    padding: 7px 8px;
    border-radius: 24px;
    background: #0303032b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    margin:10px;
  }
  
  .outputbox{
    justify-content: center;
    padding: 0;
    height: 5px;
    width: 60%;
    overflow: scroll;
    border-radius: 15%;
    background-color: #666;
    color: aliceblue;
  }  

  
  @media only screen and (min-width: 768px){
    body{
        font-size: 120%;
    }
    .card{
        border-radius: 15px;
        max-width: 420px;
        
    }
    button{
        height: 44px;
        width: 44px;
    }
  }
  .outputwindow{
    margin: 5vw;
    height: 30vw;
    width: 60%;
    overflow: scroll;
    border-radius: 15px;
    background-color: rgb(31, 32, 32);
    color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    font-size: x-large;
    color: rgb(247, 247, 252);
}
  
  
  .container1 {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen-body {
    display: flex;
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 20px;
    color: white;
  }
  
  .screen-body:hover{
    box-shadow: 10px 10px 15px rgba(0, 63, 63, 0.603);
  }
  
  .screen-body-item {
    flex: 1;
    padding: 30px 40px;
  }
  
  .screen-body-item.left {
    flex-direction: column;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 5px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: center;
  }
  
  .app-form-control {
    width: 100%;
    padding: 2px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: rgb(119, 119, 119);
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    font-weight: 900;
    padding: 10px 15px;
    margin-right: 50px;
  }
  
  .app-form-button:hover {
    color: #0300b4;
    font-size: 20px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  .footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:10%;
  }
  .footer h2{
    color:rgb(1, 150, 21);
    font-size:16px;
  }
  .footer h3{
    color:rgb(150, 1, 1);
    font-size:12px;
  }